<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Catalogo  - ODD - </title>

       <!-- Tailwind CSS Link -->
       <link rel="stylesheet"href="/images/output.css">
       
 
    <!-- Fontawesome Link -->

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css">

      

  </head>
  <body class="bg-gray-200">


<nav class="bg-midnight border-gray-200 text-white">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
     <div class="flex flex-grow items-center ">

     {{#if name}}
       <img src="/images/odd-w-sm.png" class="h-8 mr-8" /> <!-- Margen derecho al logo -->
     

      <a href="/" class="mr-8"> <!-- Margen derecho al enlace Inicio -->
         <span 
         class="flex items-center self-center font-semibold whitespace-nowrap hover:text-aws px-8">
          Inicio &nbsp;
             <i data-feather="cloud-lightning"></i> 
          </span>
       </a>
      {{#ifEquals correo 'admin@odd.digital'}}
        <a href="/users" class="">
          <span class="flex items-center self-center font-semibold whitespace-nowrap hover:text-aws px-8">
            Usuarios &nbsp;
            <i data-feather="users"></i>
          </span>
        </a>
      {{/ifEquals}}

 
       
     </div>

    <div class="w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
   
        <li class="relative">
          <a onclick="dropdown()" href="#" class="bg-midnight flex items-center hover:text-aws">
            <p>{{name}} &nbsp;</p>
            <span class="rotate-180" id="arrow">
                <i data-feather="arrow-down-circle" class="hidden text-sm" id="down"></i>
                <i data-feather="arrow-up-circle" class="" id="up"></i>
            </span>
          </a>

          <div class="hidden" id="submenu">
            <ul class="bg-midnight absolute right-0 md:block w-40 py-2 border border-gray-100 rounded-lg shadow-md z-10">
              <li>
                <a href="/logout" class="flex items-center text-aws block px-4 py-2 hover:bg-gray-100 hover:text-gray-700">
                  Cerrar sesión <i data-feather="log-out" class="pl-2"></i>
                </a>
              </li>
            </ul>
          </div>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>




  {{{body}}}


  </body>
</html>

   <script type="text/javascript">
      function dropdown() {
        document.querySelector("#submenu").classList.toggle("hidden");
        document.querySelector("#up").classList.toggle("hidden");
        document.querySelector("#down").classList.toggle("hidden");
      }
 
    </script>

        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

