<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Catalogo  - ODD - </title>

    <!-- Tailwind CSS Link -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">

  </head>
  <body class="bg-gray-200">


<nav class="bg-gray-700 border-gray-200 dark:bg-gray-900 text-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/images/odd-w-sm.png"  class="h-8" />
        <span class=" self-center text-2xl font-semibold whitespace-nowrap hover:text-yellow-500 ">-   Catálogo</span>
    </a>
 
    <div class=" w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
     
        {{#if name}}
        <li  class="relative ">
          <a onclick="dropdown()" href="#" class=" bg-gray-700 flex items-center hover:text-yellow-500">

            <p>{{name}} &nbsp;</p>
            <span class="rotate-180" id="arrow">
                <i data-feather="arrow-down-circle" class="text-sm" id="down"></i>
                <i data-feather="arrow-up-circle" class="hidden" id="up"></i>
            </span>
             
          </a>

          <div class="hidden" id="submenu">
     
                <ul class=" bg-gray-700 absolute right-0 md:block w-40 py-2 border border-gray-100 rounded-lg shadow-md z-10">

            <!-- Aquí se pueden agregar más elementos del dropdown si es necesario -->
            <li ><a href="/logout" class="flex items-center text-yellow-500 block px-4 py-2  hover:bg-gray-100 hover:text-gray-700">Cerrar sesión

                <i data-feather="log-out" class="pl-2"></i>
            </a></li>
            <!--
            <li><a href="#" class="flex items-center text-yellow-500 block px-4 py-2  hover:bg-gray-100 hover:text-gray-700 ">Cambiar contraseña

              <i data-feather="unlock" class=""></i>
            </a></li>
            -->
          </ul>
          </div>
        
        </li>

            {{else}}

        <li class="relative bg-gray-700">
          <a href="/register" class="nav-link font-semibold border-2 border-white hover:bg-white hover:text-black py-3
            px-4 rounded-md">Registro</a>
        </li>

        {{/if}}





      </ul>

        

     
    </div>
  </div>
</nav>


  {{{body}}}


  </body>
</html>

   <script type="text/javascript">
      function dropdown() {
        document.querySelector("#submenu").classList.toggle("hidden");
        document.querySelector("#up").classList.toggle("hidden");
        document.querySelector("#down").classList.toggle("hidden");
      }
 
    </script>

